body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.main-heading {
  font-size: 5em;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

a {
  margin-left: 10px;
  text-transform: uppercase;
}
